<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Empresa más ventas</h5>
                <p class="card-text">$ {{ indicators.company | number }}</p>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mes más ventas</h5>
                <p class="card-text">Noviembre</p>

            </div>
          </div>
    </div>
</div>
